@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;300;400;700&display=swap');

/* ### Font - Family: [Outfit](https: //fonts.google.com/specimen/Outfit) */


/* - Weights: 400,700 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(212, 45%, 89%);
    line-height: 1.5;
    font-size: 15px;
}


/* White: hsl(0, 0%, 100%) Font size (paragraph): 15px*/

.contain {
    margin: 0px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 320px);
    justify-content: center;
    gap: 20px;
}

.item {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    background-color: hsl(0, 0%, 100%);
}

.qr_img {
    width: 288px;
    border-radius: inherit;
    margin: 55px;
}

.qr_title {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 10px;
    font-style: normal;
    text-align: center;
    width: calc(100% - 30%);
    /* 100% of the image width minus 10% */
}

.description {
    font-size: 0.8rem;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: calc(100% - 30%);
    /* 100% of the image width minus 10% */
}

.item:nth-of-type(4) {
    grid-column: 2 / 3;
    /* means place the element in column 2 and end before column 3 */
}


/*finally, setting�
@media(max-width: 1000px) � for forming an adequate picture on the small screen*/

@media(max-width: 1000px) {
    .contain {
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}